.c1[data-v-619c7e35]{background-color:#00f;height:100dvh;justify-content:center;width:100dvw}.video[data-v-619c7e35]{aspect-ratio:9/16;height:100%;-o-object-fit:contain;object-fit:contain;width:100%}
